h1{
    font-weight: bold;
    text-align: center;
}
*{
    background-color: rgb(5, 2, 22);
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10px;
    padding-bottom: 10px;
}
img{
    height: 300px;
    width: 400px;
    margin-left: 150px;
}